@page "/mint"

@namespace cila.Client.Blazor.Pages

<h1>Mint</h1>

@if (!HasMetaMask)
{
    <p>No MetaMask detected. Please install <a href="https://metamask.io" target="_blank">MetaMask</a>.</p>
}
else if (string.IsNullOrEmpty(SelectedAddress))
{
    <button class="btn btn-primary" @onclick="ConnectMetaMask">Initialize connection with MetaMask</button>
    <br />
    <p>@MetaMaskInitializedMessage</p>
    <br />
}

@if (HasMetaMask && !string.IsNullOrEmpty(SelectedAddress))
{
    <p>
        Connected account: @SelectedAddress
    </p>
    <p>
        NFT data:
        <input type="text" @bind="@NftData" @oninput="OnNftDataInputEvent" style="width: 400px;" />
    </p>

    <p>
        Signature: @(Signature ?? "Not signed")
    </p>

    <p>
        Signer: @(Signer ?? SelectedAddress)
    </p>

    <p>
        Response: @Response
    </p>

    <button class="btn btn-primary" @onclick="SignAndMint" disabled="@string.IsNullOrEmpty(SelectedAddress)">Sign and mint </button>
}


