@page "/mint"

@namespace cila.Client.Blazor.Pages

<h1>Mint</h1>

@if (!HasMetaMask)
{
    <p>No MetaMask detected. Please install <a href="https://metamask.io" target="_blank">MetaMask</a>.</p>
}
else if (string.IsNullOrEmpty(SelectedAddress))
{
    <button class="btn btn-primary" @onclick="ConnectMetaMask">Initialize connection with MetaMask</button>
    <br />
    <p>@MetaMaskInitializedMessage</p>
    <br />
}

@if (HasMetaMask && !string.IsNullOrEmpty(SelectedAddress))
{
    <p>
        Connected account: @SelectedAddress
    </p>
    <p>
        <InputFile OnChange="@OnChange" accept="image/png, image/jpeg, image/gif" id="inputFile" />
		<label for="inputFile">Choose file</label>
    </p>

    <p>
        NFT data: @NftData
    </p>
    <p>
        @if (!string.IsNullOrEmpty(NftImage.Base64Data))
        {
            <img src="@string.Format("data:{0};base64,{1}", NftImage.ContentType, NftImage.Base64Data)" width="400" height="400"/>
        }
    </p>
    <p>
        Signature: @(Signature ?? "Not signed")
    </p>

    <p>
        Signer: @(Signer ?? SelectedAddress)
    </p>

    <p>
        Response: @Response
    </p>

    <button class="btn btn-primary" @onclick="SignAndMint" disabled="@string.IsNullOrEmpty(SelectedAddress)">Sign and mint </button>
}


