@namespace cila.Client.Blazor.Pages

@page "/transfer"

<h1>Transfer</h1>





@if (!HasMetaMask)
{
    <p>No MetaMask detected. Please install <a href="https://metamask.io" target="_blank">MetaMask</a>.</p>
}
else if (string.IsNullOrEmpty(SelectedAddress))
{
    <button class="btn btn-primary" @onclick="ConnectMetaMask">Initialize connection with MetaMask</button>
    <br />
    <p>@MetaMaskInitializedMessage</p>
    <br />
}

@if (HasMetaMask && !string.IsNullOrEmpty(SelectedAddress))
{

    <p>
        Connected account: @SelectedAddress
    </p>

    <p>My NFTs</p>
    <table>
        <thead>
            <tr>
                <th>NFT Id</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var nft in Nfts)
            {
                <tr>
                    <td>
                        @nft.Hash
                    </td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => SignAndTransfer(nft.Hash)" disabled="@string.IsNullOrEmpty(To)">Sign and transfer</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>
        Transfer to:
        <input type="text" @bind="@To" @oninput="OnToInputEvent" style="width: 400px;" />
    </p>

    <p>
        Signature: @(Signature ?? "Not signed")
    </p>

    <p>
        Signer: @(Signer ?? SelectedAddress)
    </p>

    <p>
        Response: @Response
    </p>
}